<div *ngIf="dataHandler.question$ | async as questions">
    <div *ngFor="let question of questions">
        <div *ngIf="question?.index === currentQuestion?.index">
            <app-current-question-with-options [question]="question"></app-current-question-with-options>
            <div *ngIf="dataHandler.gameState$ | async as state">
                <div [ngSwitch]="state">
                    <div *ngSwitchCase="gameState.PLAYING">
                        <button mat-button color="primary" (click)="dataHandler.decrementIndex()">Previous</button>
                        <button mat-button color="primary" (click)="dataHandler.incrementIndex()">Next</button>
                        <button mat-button color="primary" (click)="goTo()">Finish Test</button>
                        <button mat-button color="primary" (click)="updateDB()">DB update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>