<div *ngIf="dataHandler.question$ | async as questions">
    <div *ngFor="let question of questions">
        <div *ngIf="question?.index === currentQuestion?.index">
            <app-current-question-with-options [question]="question"></app-current-question-with-options>
            <div *ngIf="dataHandler.gameState$ | async as state">
                <div [ngSwitch]="state">
                    <!-- <div *ngSwitchCase="gameState.ANSWERED_ALL_QUESTIONS">
                        <button mat-button color="primary" (click)="review()">Review</button>
                        <div *ngIf="result.correctAnswers$ | async as correct">
                            {{correct}}gblswbgvl
                        </div>    
                    </div> -->
                    <div *ngSwitchCase="gameState.PLAYING">
                        <button mat-button color="primary" (click)="dataHandler.decrementIndex()">Previous</button>
                        <button mat-button color="primary" (click)="dataHandler.incrementIndex()">Next</button>
                        <button mat-button color="primary" (click)="goTo()">Finish Test</button>
                        <button mat-button color="primary" (click)="updateDB()">DB update</button>
                        <!-- <button (click)="dataHandler.incrementIndex()">next</button>
                        <button (click)="dataHandler.decrementIndex()">previous</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>