<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae accusamus? Quibusdam consectetur dicta repudiandae magnam soluta rem quisquam voluptatum ipsa.</p>
    </div>

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
      <mat-tab label="About this application">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
      </mat-tab>
      <mat-tab label="Create Quiz">
        <app-create-quiz></app-create-quiz>
      </mat-tab>
      <mat-tab label="Practise">
          <app-quiz-category-list></app-quiz-category-list>
      </mat-tab>
      <mat-tab label="User comments">
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque commodi rerum optio perferendis dolorum ipsum ipsa veritatis ut beatae</p>
      </mat-tab>
    </mat-tab-group>
  </section>
